version: "3.8"

services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    container_name: ticket-backend

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    container_name: ticket-frontend
    depends_on:
      - backend
